@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --navBarBackground: #f9f9f9;
  --buttonBackground: #f9f9f9;
  --buttonBorder: #17171750;
  --backgroundColor: #fafafa;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --navBarBackground: #171717;
    --buttonBackground: #171717;
    --buttonBorder: #ededed50;
    --backgroundColor: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist), sans-serif;
}
